.highlight {
    color: #00c6ff;
    font-weight: bold;
}

#about .portrait {
    transform: scaleX(-1) scale(0.86);
    border-radius: 15px;
    z-index: 1;
  width: 32rem;
  border-radius: 12px;
  z-index: 2;
  margin-top: calc(-6rem + 6rem * 3/100);
}

#about .portrait-container {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    z-index: 1;
}

#about .overlay {
  position: absolute;
  margin-top: 9rem;
  width: 30rem;
  height: 30rem;
  z-index: 0;
  border-radius: 15px;
  box-shadow: -10px -10px 2px -30px rgba(255, 255, 255, 0.2),
  -5px -5px 10px rgba(255, 255, 255, 0.2),
  -10px 10px 30px rgba(255, 255, 255, 0),
  2px 2px 10px rgba(0, 0, 0, 1);
  background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.3), rgba(255, 255, 255, 0.1));
}

#about .content {
    display: flex;
    flex: 1;
}

#about .page-wrapper {
    min-height: 100vh;     
    display: flex;           
    flex-direction: column;
    flex: 1;
}

#about .home-intro {
    flex: 1;
    padding: 10px 30px;
}
#about .home-intro div {
    line-height: 1.2;
}

#about .ctaDiv {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}


#about .ctaDiv div button:nth-of-type(1) {
  background-color: transparent;   
  color: white;
  border: 2px solid white;
  padding: 12px 28px;
  border-radius: 80px;
  font-size: clamp(1rem, 1vw, 2rem);
  font-weight: 600;      
}

@media (max-width: 1024px) {
#about .home-intro {
    display: grid;
    grid-template-columns: 1fr;
    flex: 1;
    padding: 10px 10px;
}

#about .portrait-container {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: '50%';
    z-index: 1;
}

#about .ctaDiv {
    display: flex;
    flex-direction: column;
}
#about .ctaDiv:nth-of-child(2) {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 2;
}

#about .content {
    padding: 0rem;
}

#about .image-column {
    display: none;
}

#about h2 {
    font-size: clamp(1.8rem, 4vw, 2.8rem);
    line-height: 1.2;
    color: #fff;
    text-align: center;
    font-weight: 100;
}
#about p {
  margin-top: 1rem;
  line-height: 1.2;
  color: #fff;
  text-align: center;
  overflow-wrap: break-word; 
  font-size: clamp(1.2rem, 4vw, 2rem);
  word-break: break-word;    
  white-space: normal;       
  max-width: 100%;      
}

#about .tech-stack-footer{
    display: none
}

.about-column {
    height: 100%;
}

.about-intro {
    display: flex;
    align-items: stretch;
    flex: 1;
    padding: 10px 200px;
    gap: 10px;
}

.about-intro > div {
    margin: 0;
    color: #fff;
    line-height: 1; 
    word-wrap: break-word; 
    overflow-wrap: break-word; 
    display: flex; 
    align-items: stretch;
    flex-direction: column; 
    justify-content: center;
    font-size: x-large;
}

}
