.highlight {
    color: #00c6ff;
    font-weight: bold;
}

#about .portrait {
    transform: scaleX(-1) scale(0.86);
    border-radius: 15px;
    z-index: 1;
  width: 32rem;
  border-radius: 12px;
  z-index: 2;
  margin-top: calc(-6rem + 6rem * 3/100);
}

#about .portrait-container {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - var(--header-height));
    padding-left: 2rem;
    z-index: 1;
}

#about .overlay {
  position: absolute;
  left: 0.9rem;
  margin-top: 9rem;
  width: 30rem;
  height: 30rem;
  z-index: 0;
  border-radius: 15px;
  box-shadow: 4px 4px 8px -3px rgba(0, 0, 0, 1);
  background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.3), rgba(255, 255, 255, 0.1));
}



#about .page-wrapper {   
    display: flex;           
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
}


#about .page-wrapper div:nth-of-child(1) {
    align-items: center;
}

#about .about-intro {
    flex: 1;
    display: grid;
    padding: 10px ;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    gap: 10px;
}

#about .about-intro .text-column {
  padding-top: 0px;     
  padding-left: 0px;     
  text-align: left;      
  min-width: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100vh - var(--header-height));          
}

#about .about-intro div {
    line-height: 1.2;
}


#about .ctaDiv {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 0.8rem;
}


#about .ctaDiv button:nth-of-type(1) {
  color: white;
  padding: 12px;
  height: 52px;
  width: fit-content;
  border: 2px solid white;
  border-radius: 80px;
  font-weight: 600;      
}

#about .ctaDiv button:nth-of-type(2) {
  color: white;
  padding: 2px;
  height: 52px;
  width:30px;
  border: 2px solid white;
  border-radius: 80px;
  font-weight: 600;      
}

/* #about h2 {
    font-size: clamp(1.8rem, 4vw, 2.8rem);
    line-height: 1.2;
    color: #fff;
    text-align: center;
    font-weight: 100;
} */
/* #about p {
  margin-top: 1rem;
  line-height: 1.2;
  color: #fff;
  text-align: center;
  overflow-wrap: break-word; 
  font-size: clamp(1.2rem, 4vw, 2rem);
  word-break: break-word;    
  white-space: normal;       
  max-width: 100%;      
} */

@media (max-width: 1024px) {
#about .about-intro {
    display: grid;
    grid-template-columns: 1fr;
    flex: 1;
    padding: 10px 10px;
}

#about .portrait-container {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: '50%';
    z-index: 1;
}

#about .ctaDiv {
    display: flex;
    flex-direction: column;
}
/* #about .ctaDiv:nth-of-child(2) {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 2;
} */

#about .content {
    padding: 0rem;
    justify-content: center;
}

#about .image-column {
    display: none;
}

#about h2 {
    font-size: clamp(1.8rem, 4vw, 2.8rem);
    line-height: 1.2;
    color: #fff;
    text-align: center;
    font-weight: 100;
}
#about p {
  margin-top: 1rem;
  line-height: 1.2;
  color: #fff;
  text-align: center;
  overflow-wrap: break-word; 
  font-size: clamp(1.2rem, 1vw, 1rem);
  word-break: break-word;    
  white-space: normal;       
  max-width: 100%;      
}

#about .tech-stack-footer{
    display: none
}

.about-column {
    height: 100%;
}

.about-intro {
    display: flex;
    align-items: stretch;
    flex: 1;
    padding: 10px 200px;
    gap: 10px;
}

.about-intro > div {
    margin: 0;
    color: #fff;
    line-height: 1; 
    word-wrap: break-word; 
    overflow-wrap: break-word; 
    display: flex; 
    align-items: stretch;
    flex-direction: column; 
    justify-content: center;
    font-size: x-large;
}

}
